<header>
    <div class="menu_bar">
        <a [routerLink]="" class="bt-menu"><span class="fa fa-bars"></span>Menú</a>
    </div>

    <nav class="row justify-content-center no-margin">
        <ul class="p-0 navbar-center">
            <img class="my-2 mx-3" width="70px" src="./assets/logos/nova_blanco.png" alt="">
            <li><a href="#servicios">SERVICIOS</a></li>
            <li><a href="http://labnovaeclipse.ddns.net:9090/EclipseWeb/login" target="_blanc">RESULTADOS EN LÍNEA</a></li>
            <li><a [routerLink]="['/cotizador']">COTIZADOR</a></li>
            <li><a [routerLink]="['/blog']">BLOG</a></li>
            <li><a href="#contacto">CONTACTO</a></li>
            <li>
                <a href="https://www.facebook.com/labnovamx/" target="_blanc"> <i class="fab fa-facebook text-white"></i>
                </a>
            </li>
            <li>
                <a href="tel:6181753034" class="menu-item button button-rojo ml-3 px-3"><i class="fas fa-phone-alt pr-2"></i>Urgencias</a>
            </li>
        </ul>
    </nav>
</header>