<div class="bg-img-primary uk-flex uk-flex-center
  uk-flex-middle uk-background-cover uk-light pt-5" data-src="./assets/images/edificio.png" uk-img>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 col-md-4">
                <img src="./assets/logos/nova_color.png" class="img-fluid">
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-12 col-md-6">
                <h2 class="text-center titulo-nova mb-2">Laboratorio de Análisis Clínicos</h2>
                <h4 class="text-center gris-nova m-0">ORGULLOSAMENTE DURANGUENSE</h4>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-12 col-md-3">
                <a class="button button-verde col-12" [routerLink]="['/nosotros']">Conócenos ></a>
            </div>
        </div>
    </div>
</div>

<div class="container " uk-parallax="opacity: 0,1; y: 300,0; scale: 2,1; viewport: 0.5;">
    <div class="row justify-content-center">
        <div class="col-6 col-md-4">
            <img class="img-fluid uk-align-center mb-3" src="./assets/icono/equipo.png" alt="">
            <p class="text-center gris-nova mt-0">EQUIPAMINETO<br>TECNOLÓGICO</p>
        </div>
        <div class="col-6 col-md-4">
            <img class="img-fluid uk-align-center mb-3" src="./assets/icono/instalaciones.png" alt="">
            <p class="text-center gris-nova mt-0">INSTALACIONES</p>
        </div>
        <div class="col-6 col-md-4">
            <img class="img-fluid uk-align-center mb-3" src="./assets/icono/personal.png" alt="">
            <p class="text-center gris-nova mt-0">PROFESIONALES<br>COMPROMETIDOS</p>
        </div>
    </div>
</div>

<div class="container" id="servicios">
    <h5 class="gris-nova font-weight-bolder servicios-size text-center mb-0">SERVICIOS</h5>
    <h4 class="text-center gris-nova m-0">Ponemos a tus órdenes lo mejor de nosotros</h4>
    <div class="row mt-4">
        <div class="col-12 col-md-6 mt-3">
            <div class="uk-height-medium uk-flex uk-flex-center
        uk-flex-middle uk-background-cover uk-light" data-src="./assets/images/analisisclinico.png" uk-img>
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-12 pb-3">
                            <h3 class="text-center font-weight-bolder">Análisis Clínicos</h3>
                        </div>
                        <div class="col-9">
                            <p class="text-center m-0">
                                Realizamos mas de 350 estudios de rutina con la más alta tecnología.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 mt-3">
            <div class="uk-height-medium uk-flex uk-flex-center
        uk-flex-middle uk-background-cover uk-light" data-src="./assets/images/analisisclinicoesp.png" uk-img>
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-12 pb-3">
                            <h3 class="text-center font-weight-bolder">Análisis Clínicos Especializados</h3>
                        </div>
                        <div class="col-9">
                            <p class="text-center m-0">
                                Convenio con los mejores laboratorios del país, para estudios de alta especialidad.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 mt-3">
            <div class="uk-height-medium uk-flex uk-flex-center
        uk-flex-middle uk-background-cover uk-light" data-src="./assets/images/analisisclinicoesp.png" uk-img>
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-12 pb-3">
                            <h3 class="text-center font-weight-bolder">Servicio de Urgencias</h3>
                        </div>
                        <div class="col-9">
                            <p class="text-center m-0">
                                A tu disposición <strong>24/7</strong> los <strong>365</strong> días del año.
                            </p>
                            <p class="text-center m-0">
                                Llámanos al <strong>618 175 3934</strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 mt-3">
            <div class="uk-height-medium uk-flex uk-flex-center
        uk-flex-middle uk-background-cover uk-light" data-src="./assets/images/analisisclinico.png" uk-img>
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-12 pb-3">
                            <h3 class="text-center font-weight-bolder">Servicio a Domicilio</h3>
                        </div>
                        <div class="col-9">
                            <p class="text-center m-0">
                                Estamos para servirte cuando y donde tú nos necesites. Programa tu cita alal <strong>618 175 3834</strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-9">
            <img class="img-fluid pt-5" src="./assets/images/hrs.png" alt="">
        </div>
    </div>
</div>

<div class="container-fluid my-5 compu-style">
    <div class="row">
        <div class="col-12 col-md-8">
            <p class="p-3 m-0 gris-nova">
                Por que conocemos el valor de tu timepo, ponemos a tus órdenes nuetros medios de entrega de resultados, confiables, seguros y confidenciales.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-5">
            <div class="row" uk-parallax="opacity: 0,1,1; y: 100,0,0; x: -100,-100,0; scale: 0.5,1,1; viewport: 0.5;">
                <div class="col-12">
                    <img class="img-fluid p-sm-0 p-lg-4" src="./assets/images/resultados.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 p-3 padre">
            <div class="row hijo">
                <a class="button button-azul col-12 my-2" target="_blank" href="https://www.youtube.com/watch?v=y6bqXH-lYBo">VER TUTORIAL</a>
                <a class="button button-rojo col-12 my-2" target="_blank" href="http://189.197.184.182:9090/EclipseWeb/login">CONSULTAR</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-5 p-0">
            <div class="extra-azul mt-4 mr-5">
                Además puedes solicitarlos vía
            </div>
        </div>
        <div class="col-12 col-md-4" uk-parallax="blur: -10;">
            <div class="row justify-content-center">
                <div class="col-4 col-md-3">
                    <img class="p-2 img-fluid" src="./assets/icono/whats.png" alt="">
                    <p class="text-center small-text m-0">Whatsapp</p>
                </div>
                <div class="col-4 col-md-3">
                    <img class="p-2 img-fluid" src="./assets/icono/email.png" alt="">
                    <p class="text-center small-text m-0">Correo</p>
                </div>
                <div class="col-4 col-md-3">
                    <img class="p-2 img-fluid" src="./assets/icono/instalaciones.png" alt="">
                    <p class="text-center small-text m-0">Instalaciones</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <h5 class="gris-nova font-weight-bolder servicios-size text-center mb-0">GALERÍA</h5>
    <h4 class="text-center gris-nova m-0">Conoce más sobre Laboratorio Nova en nuestra galeria.</h4>
    <div class="row pt-5">
        <div class="col-12 no-padding">
            <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="ratio: 9:3; animation: scale; autoplay: true;">
                <ul class="uk-slideshow-items">
                    <li>
                        <img class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left" src="./assets/galeria/galeria1.jpg" alt="" uk-cover>
                    </li>
                    <li>
                        <img class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left" src="./assets/galeria/galeria2.jpg" alt="" uk-cover>
                    </li>
                    <li>
                        <img class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left" src="./assets/galeria/galeria3.jpg" alt="" uk-cover>
                    </li>
                    <li>
                        <img class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left" src="./assets/galeria/galeria4.jpg" alt="" uk-cover>
                    </li>
                    <li>
                        <img class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left" src="./assets/galeria/galeria5.jpg" alt="" uk-cover>
                    </li>
                    <li>
                        <img class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left" src="./assets/galeria/galeria6.png" alt="" uk-cover>
                    </li>
                </ul>

                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous">
                </a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next">
                </a>
            </div>
        </div>
    </div>
</div>

<app-video></app-video>

<div class="container my-5">
    <h5 class="gris-nova font-weight-bolder servicios-size text-center mb-0">BLOG</h5>
    <h4 class="text-center gris-nova m-0">Entérate de lo último en tecnología diagnóstica, patologías, eventos y noticias relevantes.</h4>
    <div class="row py-5">
        <div class="col-12 col-md-6 card-size" *ngFor="let articulo of articulos">
            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                <div class="uk-card-media-left uk-cover-container">
                    <img [src]="articulo.imagen" [alt]="articulo.titulo" uk-cover>
                    <canvas width="600" height="400"></canvas>
                </div>
                <div>
                    <div class="uk-card-body bg-azul">
                        <h3 class="uk-card-title font-weight-bolder text-white">{{ articulo.titulo }}</h3>
                        <div class="text-white" [innerHTML]="sanitizer.bypassSecurityTrustHtml(articulo.editor | slice:0:100)"></div>
                        <button [routerLink]="['/blog', articulo.id]" class="button button-rojo col-12">Leer más</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <!-- <div class="col-12 col-sm-8 col-md-4"> -->
        <div class="g-ytsubscribe" data-channelid="UCp9wwNw9sUZSTp9JPfteTFw" data-layout="full" data-count="hidden"></div>
        <!-- <a href="http://www.youtube.com/subscription_center?add_user=UCp9wwNw9sUZSTp9JPfteTFw" class="button button-rojo col-12">SUSCRIBIRSE</a> -->
        <!-- </div> -->
    </div>
</div>

<app-contacto id="contacto"></app-contacto>